
<div id="geocoder_dialog" style="display:none">
    <div>
        @Html.Label("Address:")
    </div>
    <div>
        <input id="address" type="text" />
    </div>
    <div>
        @Html.Label("city")
    </div>
    <div>
         <input id="city" type="text" />
    </div>
    <div>
        @Html.Label("State")
    </div>
    <div>
         <input id="state"
              type="text" />
    </div>
    <div>
        <button id="btnFind">Find!</button>
    </div>
</div>


